<!DOCTYPE html>
<html>
<head>
  <title>GhcInterview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='header page-header row'>
    <div class='col-md-6' style='text-align:left'>
      <% if @question && @questions %>

        <%= link_to_unless @question == Question.first, '<<', question_path(@question.number - 1) %>

        <% @questions.each do |q| %>
          <% if q.id == @question.id %>
            <b><u><%= link_to q.number, question_path(q.number) %></u></b>
          <% else %>
            <%= link_to q.number, question_path(q.number) %>
          <% end %>
        <% end %>

        <%= link_to_unless @question == Question.last, '>>', question_path(@question.number + 1) %>

      <% end %>
    </div>

    <div class='col-md-6' style='text-align:right'>
      <%= link_to 'Sign In', new_admin_session_path %>
      &nbsp;
      <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
    </div>
  </div>

  <%= yield %>

</body>
</html>
